/* marriage-biodata/css/template1.css */

.page.template1{
  width:794px;
  min-height:auto;
  background:#7b0000;
  color:#ffffff;
  padding:100px 90px;
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  font-family:'Poppins', sans-serif;
}

/* Outer Gold Frame */
.page.template1::before{
  content:"";
  position:absolute;
  top:25px;
  left:25px;
  right:25px;
  bottom:25px;
  border:4px solid #f5c46b;
}

/* Inner Thin Frame */
.page.template1::after{
  content:"";
  position:absolute;
  top:45px;
  left:45px;
  right:45px;
  bottom:45px;
  border:1.5px solid rgba(245,196,107,0.6);
}

/* Corner Decorations */
.corner{
  position:absolute;
  width:140px;
  height:140px;
  border:2px solid #f5c46b;
  border-radius:50%;
  opacity:0.25;
}

.top-left{ top:-70px; left:-70px; }
.top-right{ top:-70px; right:-70px; }
.bottom-left{ bottom:-70px; left:-70px; }
.bottom-right{ bottom:-70px; right:-70px; }

.gold{
  color:#f5c46b;
}

.top-title{
  text-align:center;
  font-size:32px;
  font-weight:700;
  margin-bottom:40px;
  letter-spacing:1px;
}

.section-title{
  text-align:center;
  font-size:26px;
  color:#f5c46b;
  margin:40px 0 25px;
  font-weight:600;
}

.row{
  display:flex;
  justify-content:space-between;
  margin-bottom:14px;
  font-size:16px;
}

.row strong{
  width:45%;
  font-weight:600;
}

.row span{
  width:50%;
}

/* Ganesha icon */
.ganesha-wrapper{
  text-align:center;
  margin-bottom:10px;
}


