.page.template2{
  width:794px;
  min-height:auto;
  background:#fff8e7;
  color:#3b2f1b;
  padding:100px 90px;
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  font-family:'Poppins', sans-serif;
}

/* Outer Frame */
.page.template2::before{
  content:"";
  position:absolute;
  top:25px;
  left:25px;
  right:25px;
  bottom:25px;
  border:4px solid #c8a96a;
}

/* Inner Frame */
.page.template2::after{
  content:"";
  position:absolute;
  top:45px;
  left:45px;
  right:45px;
  bottom:45px;
  border:1.5px solid rgba(200,169,106,0.6);
}

.gold{
  color:#8b6f3d;
}

.top-title{
  text-align:center;
  font-size:32px;
  font-weight:700;
  margin-bottom:40px;
}

.section-title{
  text-align:center;
  font-size:26px;
  color:#8b6f3d;
  margin:40px 0 25px;
  font-weight:600;
}

.row{
  display:flex;
  justify-content:space-between;
  margin-bottom:14px;
  font-size:16px;
}

.label{
  width:45%;
  font-weight:600;
}

.value{
  width:50%;
}

.ganesha-icon{
  width:30px;
  height:auto;
  stroke-width: 2%;
}