.page.template2{
  background:#fff8e7;
  color:#3b2f1b;
}

.page.template2::before{
  border-color:#c8a96a;
}

.page.template2::after{
  border-color:rgba(200,169,106,0.6);
}

.corner{
  border-color:#c8a96a;
}

.gold{
  color:#8b6f3d;
}

.section-title{
  color:#8b6f3d;
}

.template2{
  font-family: BlackChancery, cursive !important;
}

.template2 .ganesha-title{
  font-family: Ams Bhumi, cursive !important;
}
